@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root{
    --primaryCyan: hsl(180, 66%, 49%);
    --primaryViolet: hsl(257, 27%, 26%);

    --redSecondary: hsl(0, 87%, 67%);

    --grayish: hsl(0, 0%, 75%);
    --grayishViolet: hsl(257, 7%, 63%);
    --veryDarkBlue: hsl(255, 11%, 22%);
    --veryDarkViolet: hsl(260, 8%, 14%);

    --defaultFont: 18px;

    --smallText: .8em;
}

*{
    box-sizing: border-box;
    margin: 0;

}

body{
    font-family: 'Poppins', sans-serif;
    /* width: 100vw; */
    margin: 20px auto 0;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 70%;
    font-size: var(--smallText);
    font-weight: 700;
    color: var(--grayish);
}

.header-left,
.header-right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.header-left span{
    margin-left: 30px;
}

.header-right span{
    margin-right: 30px;
}

.header-right button{
    font-family: 'Poppins',sans-serif;
    background-color: var(--primaryCyan);
    color: #fff;
    font-size: var(--smallText);
    font-weight: 900;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

header img {
    height: 25px;
}



.front{
    margin: 50px auto 0;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.front p{
    margin: 0;
}

.front img{ 
    height: 350px;
}

.front-left{
    width: 55%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.front-right{
    width: 45%;
}

#slogan{
    text-align: left;
    font-size: 3.5em;
    font-weight: 800;
    line-height: 1.2em;
    margin: 0;
}

.front-left p:nth-of-type(2){
    color: var(--grayish);
    font-weight: 500;
    
}

.front-left button {
    font-family: 'Poppins',sans-serif;
    background-color: var(--primaryCyan);
    color: #fff;
    font-weight: 500;
    width: 140px;
    height: 40px;
    border-radius: 40px;
    border: none;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
}

.main-content{
    width: 100%;
    background: rgb(236, 236, 236);
    position: relative;
    margin-top: 100px;
    z-index: 0;
    padding-bottom: 50px;
}


.url-holder,
.advanced,
.info-blocks,
.links-container{
    display: block;
    margin: auto;
    width: 70%;
    position: relative;
    
}

.url-holder::after{
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--primaryViolet);
    background-image: url(./images/bg-shorten-desktop.svg) ;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;    
    border-radius: 10px;
    z-index: -2;
}

.url-holder{ 
    height: 130px;
    position: absolute;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    left: 15%;
    transform: translateY(-50%);
}

.url-holder button{
    margin-right: 5%;
    font-family: 'Poppins',sans-serif;
    background-color: var(--primaryCyan);
    color: #fff;
    font-weight: 700;
    font-size: 1em;
    width: 20%;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 10;
}



.url-holder input{
    margin-left: 5%;
    font-family: 'Poppins',sans-serif;
    background-color: #fff;
    color: var(--grayish);
    font-weight: 500;
    font-size: 1em;
    width: 60%;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    z-index: 10;
    padding-left: 20px;
}

/* positining for the small tag error in url */
.url-holder small{
    position: absolute;
    bottom: 10%;
    left: 8%;
    color: rgb(252, 54, 54);
    z-index: 20;
    text-transform: capitalize;
    opacity: 0;
}

.advanced{
    padding-top: 20px;
    text-align: center;
    width: 40%;
}

.advanced h1{
    font-size: 2em;
    margin: 40px 0 15px;
}

.advanced p{
    font-size: .9em;
    color: var(--grayishViolet);
    font-weight: 500;
}

.info-blocks{
    margin-top: 30px;
    color: var(--grayishViolet);
    display: flex;
    justify-content: space-between;
    padding: 50px 0 100px 0;
    position: relative;
}

hr{
    background-color: var(--primaryCyan);
    position: absolute;
    height: 7px;
    width: 100%;
    top: 50%;
    z-index: -1;
    border: none;
}

.block {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    font-size: var(--smallText);
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
    line-height: var(--defaultFont);
    position: relative;
}

.block:nth-of-type(2){
    transform: translateY(25px);
}

.block:nth-of-type(3){
    transform: translateY(50px);
}


.block h3{
    padding-top: 50px;
    color: #000;
    margin-bottom: 15px;
}

.block .icon {
    width: 70px;
    height: 70px;
    background-color: var(--veryDarkBlue);
    border-radius: 50%;
    
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, -50%)
}

.icon.recognition{
    background-image: url(./images/icon-brand-recognition.svg);
}

.icon.records{
    background-image: url(./images/icon-detailed-records.svg);
}

.icon.custom{
    background-image: url(./images/icon-fully-customizable.svg);
}

.boost{
    background-color: var(--primaryViolet);
    background-image: url(./images/bg-boost-desktop.svg);
    width: 100%;
    height: 170px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.boost button {
    font-family: 'Poppins',sans-serif;
    background-color: var(--primaryCyan);
    color: #fff;
    font-weight: 500;
    width: 140px;
    height: 40px;
    border-radius: 40px;
    border: none;
    outline: none;
    margin-top: 15px;
    cursor: pointer;
}

footer{
    width: 100%;
    height: 300px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 0;
}

footer a{
    display: block;
    text-decoration: none;
    color: var(--grayish);
    font-size: var(--smallText);
    margin-bottom: 10px;
}

footer div a:first-of-type{
    margin-bottom: 25px;
    font-weight: 600;
}

footer #bottomLogo{
    filter: invert();
    height: 25px;
}

.social img{
    color: #fff;
    height: 15px;
    margin-left: 10px;
}

/* Class to change input to red if url is empty */
input.wrong{
    border: 2px solid rgb(241, 51, 51);
}


.links-container{
    margin: auto;
    height: auto;
    color: #000;
    padding-top: 100px;
    z-index: -1;
}

.link{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #fff;
    height: 60px;
    border-radius: 5px;
    font-weight: 500;
    font-size: var(--defaultFont);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
    margin-top: 20px;
}

.link-info{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.link button{
    height: 40px;
    width: 10%;
    font-family: 'Poppins',sans-serif;
    background-color: var(--primaryCyan);
    color: #fff;
    font-size: var(--smallText);
    font-weight: 500;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.link-info span:nth-of-type(2){
    color: var(--primaryCyan);
}




/* active color for bg for all buttons on page */
button:active{
    background-color: hsl(180, 41%, 68%);
    transform: scale(1.05);
}

.delete{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    padding: 15px;
    background-color: var(--primaryViolet);
    color: #fff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: .7em;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: -15;
    transition: transform .3s ease-in;
}

.delete:hover{
    font-size: .6em;
}

.delete:active{
    font-size: .7em;
}

.link:hover .delete{
    transform: translateX(100%);
}

.delete i{
    pointer-events: none;
}

/* 


## Primary

- Cyan: hsl(180, 66%, 49%)
- Dark Violet: hsl(257, 27%, 26%) 

### Secondary

- Red: hsl(0, 87%, 67%)

### Neutral

- Gray: hsl(0, 0%, 75%)
- Grayish Violet: hsl(257, 7%, 63%)
- Very Dark Blue: hsl(255, 11%, 22%)
- Very Dark Violet: hsl(260, 8%, 14%)

## Typography

### Body Copy

- Font size: 18px

### Fonts

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 500, 700

## Icons

For the social icons, you can either use the SVGs provided or a font icon library. Some suggestions for font icon libraries can be found below:

- [Font Awesome](https://fontawesome.com)
- [IcoMoon](https://icomoon.io)
- [Ionicons](https://ionicons.com)

*/